
div {
    display: flex;
}

table {
    margin-left: 20px;
    border: 1px solid gray;
}

th {
    background-color: rgba(100, 170, 200, 40%);
}

tr,td {
    text-align: center;
    border: solid 1px black;
}



